* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    padding: 0px;
  }
  
  .container {
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
  }
  