* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  text-align: center;
}

.details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  background-color: skyblue;
  padding: 50px;
  width: 100%;
}
h1>span{
  color: blue;
}
h3{
  color : red
}
.input-field {
  margin: 10px 0px;
  justify-content: center;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.input-field input,select,textarea {
  border-radius: 20px;
  padding: 10px;
  border: none;
  text-align: center;
  width: 300px;
  font-size: 20px;
  background-color: white;
}
.input-field textarea{
  width: 483px;
  height: 132px;
  resize: none;
}
.input-field input,textarea:focus {
  outline: none;
}
.input-field input:focus {
  outline: none;
}

.input-field span {
  padding: 10px 0px;
  font-size: 20px;
}
.input-field i{
  font-size: 20px;
  cursor: pointer;
}
.format{
  color: blue;
  text-align: left;
}
.submit {
  text-decoration: none;
  padding: 10px 27px;
  border-radius: 20px;
  border: none;
  background: blue;
  font-size: 20px;
  display: inline-block;
  color: white;
  font-family: auto;
  cursor: pointer;
  margin: 20px 0px;
}
.submit:hover{
  color: blue;
  background-color: white;
}
.error{
  color: red;
}
.logout{
  display: inline-block;
  margin: 20px 0px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: blue;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  transition: 50ms ease-in;
}
.logout:hover{
  color: blue;
  background-color: white;
}
.success{
  color: green;
  font-size: 20px;
}
.forgot-password a{
  font-size: 20px;
  text-decoration: none;
  color: red;
}

.new-account{
  font-size: 20px;
}
.new-account a{
  text-decoration: none;
  color: blue;
}
.resend{
  display: inline-block;
  margin: 20px 0px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: green;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  transition: 50ms ease-in;
}
.resend:hover{
  color: green;
  background-color: white;
}
