* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  background-color: blue;
}
.navwrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menubar {
  display: flex;
  align-items: center;
  width: 60%;
}
.navwrap ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style: none;
}
.navwrap ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: none;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 20px;
  font-weight: bold;
  transition: 50ms ease-in;
}
.account {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: end;
  column-gap: 20px;
}
.account h3 {
  color: white;
  margin: 0px;
}
.account a {
  text-decoration: none;
}
.logout {
  display: inline-block;
  margin: 20px 0px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #d44d4d;
}
.navwrap ul li a:hover {
  color: blue;
  background-color: white;
}
