* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  background-color: blue;
  z-index: 999;
  position: sticky;
}
.navwrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menubar {
  display: flex;
  align-items: center;
  width: 60%;
}
.navwrap ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style: none;
}
.navwrap ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: none;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 20px;
  font-weight: bold;
  transition: 50ms ease-in;
}
.account {
  /* display: block; */
  width: 20%;
  align-items: center;
  justify-content: end;
  column-gap: 20px;
  position: relative;
}
.account h3 {
  color: white;
  margin: 0px;
  display: inline-block;
  height: 100%;
  padding: 20px 10px;
  cursor: pointer;
}
.account a {
  text-decoration: none;
}
.slide-menu {
  display: none;
  position: absolute;
  text-align: center;
  top: 70px;
  background: grey;
  width: 100%;
  z-index: 999;
}
.slide-menu ul {
  display: flex;
  flex-direction: column;
}
.slide-menu ul li {
  border-bottom: 1px solid white;
}
.slide-menu ul li a {
  color: white;
  text-align: center;
  padding: 10px 20px;
  display: block;
  font-size: 20px;
  border-radius: 0px;
}
.activity {
  align-items: center;
}
.logout {
  display: inline-block;
  margin: 20px 0px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #d44d4d;
}
.navwrap ul li a:hover {
  color: blue;
  background-color: white;
}
