* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    padding: 0px;
  }
  
  .container {
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
  }
  
  .details-shown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    background-color: skyblue;
    padding: 50px;
    width: 100%;
  }